<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a>
                    Analitik
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/pajak/analitik']"><i
                                class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Pajak</li>
                    <li class="breadcrumb-item active">Analitik</li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="container">
                <div class="row flip-boxes">
                    <div class="col-lg-4 col-md-6 col-sm-12 flip-box">
                        <ngx-bootstrap-spinner bdColor="rgba(0, 0, 0, 0)" color="grey" [fullScreen]="false">
                        </ngx-bootstrap-spinner>
                        <div class="front"
                            style="background-color: sandybrown;">
                            <div class="content">
                                <h2 style="font-size: small;">
                                    Total Pendapatan (today)
                                </h2>
                                <h1>{{totalvalue}}</h1>
                                <p style="font-size:medium;">Trend <i [class]="valuetrend"></i><span
                                        class="f-right">{{detailValueToday}}</span></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="content">
                                <h2 style="font-size: small;color: black;">
                                    (yesterday)
                                </h2>
                                <h1 style="color: black;">{{yesterdayEarns}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 flip-box">
                        <ngx-bootstrap-spinner bdColor="rgba(0, 0, 0, 0)" color="grey" [fullScreen]="false">
                        </ngx-bootstrap-spinner>
                        <div class="front" style="background-color: slateblue;">
                            <div class="content">
                                <h2 style="font-size: small;">
                                    Total Transaksi (today)
                                </h2>
                                <h1>{{totalorder}}</h1>
                                <p style="font-size:medium;">Trend <i [class]="ordertrend"></i><span
                                        class="f-right">{{detailOrderToday}}</span></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="content">
                                <h2 style="font-size: small;color: black;">
                                    (yesterday)
                                </h2>
                                <h1 style="color: black;">{{yesterdayOrder}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 flip-box">
                        <ngx-bootstrap-spinner bdColor="rgba(0, 0, 0, 0)" color="grey" [fullScreen]="false">
                        </ngx-bootstrap-spinner>
                        <div class="front" style="background-color: orchid;">
                            <div class="content">
                                <h2 style="font-size: small;">
                                    Total Pendapatan (this month)
                                </h2>
                                <h1>{{totalMonthValue}}</h1>
                                <p style="font-size:medium;">Trend <i [class]="monthvaluetrend"></i><span
                                        class="f-right">{{detailTotalMonth}}</span></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="content">
                                <h2 style="font-size: small;color: black;">
                                    (last month)
                                </h2>
                                <h1 style="color: black;">{{previousMonth}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <ngx-bootstrap-spinner bdColor="rgba(0, 0, 0, 0)" color="grey" [fullScreen]="false">
                        </ngx-bootstrap-spinner>
                        <h4 class="card-title">10 Latest Transaction</h4>
                        <p class="card-description"> 10 transaksi terakhir </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Merchant ID</th>
                                        <th>Transaction Value</th>
                                        <th>Created at</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of newArr ">
                                        <td>{{order['invoice_id']}}</td>
                                        <td>{{order['merchant_id']}}</td>
                                        <td>{{order['total_value'] | number }}</td>
                                        <td>{{order['created_at']}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <ngx-bootstrap-spinner bdColor="rgba(0, 0, 0, 0)" color="grey" [fullScreen]="false">
                    </ngx-bootstrap-spinner>
                    <div class="header">
                        <h2>Pendapatan Berdasarkan Kategori (hari ini)</h2>
                    </div>
                    <div class="body">
                        <div echarts [options]="pieOptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>