<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="{{userPhoto}}" class="rounded-circle user-photo" alt="User Profile Picture">
            <div class="dropdown" ngbDropdown>
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" ngbDropdownToggle><strong>{{username | titlecase }}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account" ngbDropdownMenu>
                    <li><a [routerLink]="['/admin/pages/page-profile2']"><i class="icon-user"></i>My Profile</a></li>
                    <li class="divider"></li>
                    <li><a (click)="signOut()"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'menu'}" (click)="changeNavTab('menu')">Menu</a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'setting'}" (click)="changeNavTab('setting')"><i
                        class="icon-settings"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('dashboard')"><i class="icon-home"></i>
                                <span>Dashboard</span></a>
                            <ul *ngIf="currentActiveMenu == 'dashboard'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pajak/analitik']">Analitik</a></li>
                            </ul>
                        </li>
                        
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'wp'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('wp')"><i class="icon-users"></i> <span>Device/Agent</span></a>
                            <ul *ngIf="currentActiveMenu == 'wp'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pajak/wp-register']">Register</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pajak/wp-list']">List</a></li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="tab-pane p-l-15 p-r-15" id="Chat" [ngClass]="{'active':navTab == 'chat'}">
                <form>
                    <div class="input-group m-b-20">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                </form>
            </div>
            <div class="tab-pane p-l-15 p-r-15" id="setting" [ngClass]="{'active':navTab == 'setting'}">
                <h6>Choose Mode</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="white" [ngClass]="{'active':darkClass == ''}" (click)="changeDarkMode('')">
                        <div class="white"></div>
                        <span>Light</span>
                    </li>
                    <li data-theme="black" [ngClass]="{'active':darkClass == 'full-dark'}" (click)="changeDarkMode('full-dark')">
                        <div class="black"></div>
                        <span>Dark</span>
                    </li>
                </ul>
                <hr>
                <h6>Choose Skin</h6>
                <color-sketch [color]="themeColor" [presetColors]="themeColors" (onChangeComplete)="handleThemeColorChange($event)"></color-sketch>
                <hr>
                <h6>Choose Background</h6>
                <color-sketch [color]="bgColor" [presetColors]="bgColors" (onChangeComplete)="handleBgColorChange($event)"></color-sketch>
                <hr>
            </div>
        </div>
    </div>
</div>

<swal
  #changeThemeSwal
  title="Change Matching Background"
  text="Do you want to change the matching background with the theme selection?"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="changeMatchingBgColor()"
  (dismiss)="cancelChangeMatchingColor()">
</swal>